
		a.button {
			color:#ffffff ;
		}

		.calendar {
			width: 100%;
			border: 1px solid #ddd;
		}

		.calendar td a {
			text-decoration: none;
			color: #006699;
		}

		.calendar td a:hover {
			text-decoration: underline;
			color: #FF0000;
		}

		.calendar td, .calendar th {
			width: 13%;
			border: 1px solid #080808;
			padding: 3px 3px 3px 3px;
		}

		.calendar th {
			background-color: #9e9e9e;
			color: #ffffff ;
			font-weight: bold;
		}
		.calendar td {
			height: 50px;
			font-weight: bold;
			vertical-align: top;
		}

		.blank {
			background-color: #eceff1 ;
		}

		.weekend {
			color: #999;
		}

		.occassion {
			background-color: #000000 ;
		}